#CodeChickenLib development configuration file.

dump_asm=true

#Path to directory holding packaged.srg, fields.csv and methods.csv for mcp remapping
mappingDir=D:\forge-1.7.10-10.13.4.1492-1.7.10-src\conf

textify=true
